.idea
.DS_Store
debug.log
twentyfifteen/
twentyfourteen/*
twentythirteen/
twentytwelve/
twentyeleven/
twentyten/
vars.php
index.php
!/roots-opendataportalat/index.php
*.sublime-project
*.sublime-workspace
footer-piwik.php


